<h1 class="text-2xl font-bold mb-4">Dispositivos del grupo</h1>
<nav class="text-sm breadcrumbs mb-4">
    <ul>
      <li *ngFor="let node of selectedPath; let i = index">
        <a
          class="link link-hover"
          [class.text-primary]="i === selectedPath.length - 1"
          (click)="onBreadcrumbClick(node)">
          <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="h-4 w-4 stroke-current">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
        </svg>
          {{ node.name }}
        </a>
      </li>
    </ul>
</nav>

<div *ngIf="devices.length; else noDevices" class="overflow-x-auto">
  <table class="table table-zebra w-full animate-fade-in">
    <thead class="bg-base-200 text-base-content">
      <tr>
        <th class="w-24">Acciones</th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Huella</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of devices" class="hover">
        <td>
          <div class="flex gap-2 justify-center">
            <button
              class="btn btn-xs btn-outline btn-error tooltip"
              data-tip="Eliminar"
              (click)="deleteDevice(device.id)">
              <i class="fa-solid fa-trash"></i>
            </button>
            <button
              (click)="openModal(device)"
              class="btn btn-xs btn-outline btn-info tooltip"
              data-tip="Editar">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button
              (click)="openAssignModal(device)"
              class="btn btn-xs btn-outline tooltip"
              data-tip="Asignar Plantilla">
              <i class="fa-solid fa-wrench"></i>
            </button>
          </div>
        </td>
        <td>{{ device.id }}</td>
        <td>{{ device.name }}</td>
        <td>{{ device.fingerprint }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="selectedPath.length" class="p-2">
    <button
    (click)="openModal()"
    class="btn btn-xs btn-outline btn-success tooltip"
    data-tip="Añadir">
    Añadir dispositivo
    </button>
  </div>

<ng-template #noDevices>
    @if (selectedPath.length) {
        <p class="text-sm text-gray-500 italic mt-4">No hay dispositivos para este grupo</p>
    } @else {
        <p class="text-sm text-gray-500 italic mt-4">Selecciona un grupo para ver los dispositivos.</p>
      }

</ng-template>

<app-device-form-modal
#deviceFormModal
[deviceToEdit]="selectedDevice"
[group]="selectedPath[selectedPath.length - 1]"
(saved)="handleSave($event)"
></app-device-form-modal>

<app-assign-device2-template
  #assignTemplateModal
  [device]="selectedDeviceToAssign"
  (assigned)="handleTemplateAssigned($event)"
></app-assign-device2-template>
